.SocialIcons{
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 132px;
}

.SocialIcons img{
    width: 24px;
    height: 30px;
}

@media(max-width:428px){
    .SocialIcons{
        display: none;
    }
}