.Links{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    margin-bottom: 48px;

}

.btn{
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    padding: 24px 32px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #101828;

}